<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">
</head>

<body id="reportsPage">
    <div id="header-bar">
        <h1>Macrominder</h1>
    </div>
    <!--logout button-->
    <div class="logout-button">
        <form action="/signout" method="GET, POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <div class="" id="home">
        <div class="container">
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Users</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr class="user-row"> <!-- add a class so its black text from the css styling-->
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>
                                            <!-- Call the delete_user function with user ID -->
                                            <form action="/admin/delete_user/{{ user.id }}" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Habits</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big"> <!-- Adjusted class to make the third block same size -->
                    <div class="bg-white tm-block h-100"> <!-- Adjusted class to make the third block same size -->
                        <h2 class="tm-block-title">Welcome, you are an admin!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
