<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">
</head>

<body id="reportsPage">
    <div id="header-bar">
        <h1>Macrominder</h1>
    </div>
    <!--logout button-->
    <div class="logout-button">
        <form action="/signout" method="GET, POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <div class="" id="home">
        <div class="container">
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">Welcome, {{ username }}, you are a coach!</h2>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Paired Users</h2>
                        <ul>
                            {% for user in paired_users %}
                                <li style="color: black;">
                                    {{ user.username }}
                                    <form action="/viewuser/{{ user.id }}" method="GET">
                                        <button type="submit" class="btn btn-primary">View User</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
