<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">
</head>

<body id="reportsPage">
    <div id="header-bar">
        <h1>Macrominder</h1>
    </div>
    <!--logout button-->
    <div class="logout-button">
        <form action="/signout" method="GET, POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <div class="" id="home">
        <div class="container">
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Macro Tracker</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Habits</h2>
                        <!--new code-->
                        <!--display the habit descriptions of the habits passed in-->
                        <ul>
                            {% for habit in habits %}
                                <li class="habit-description">{{ habit.habit_description }}</li>
                            {% endfor %}
                        </ul>
                        <!--new code-->
                        <canvas id="barChart"></canvas>
                        <!--new code1-->
                        <!--Added button-Ryan-->
                        <form action="/addhabit" method="GET, POST">
                            <button type="submit" class="btn btn-primary">Add Habit</button>
                        </form>
                        <!--new code1-->
                    </div>
                </div>
                <div class="tm-col tm-col-big"> <!-- Adjusted class to make the third block same size -->
                    <div class="bg-white tm-block h-100"> <!-- Adjusted class to make the third block same size -->
                        <h2 class="tm-block-title">Welcome, you are a user!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>